@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<div>
    <p>
        <span style="font-weight: bold">Current roles:</span>
        @foreach (var role in Model)
        {
            <span>
                @Html.DisplayFor(modelItem => role.Name) |              
            </span>        
        }
    </p>
</div>
