@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gira ©</h1>
    <p class="lead">@Html.ActionLink("Trigger / Untrigger Admin Mode!", "TriggerAdmin", "Home")</p>
    <p>Admin Mode will give you full access rights to the application, and will generate some test data. </p>
</div>