@model Gira.Models.RoleListViewModel

@{
    ViewBag.Title = "Manage Roles";
}

<h2>Application Roles:</h2>

@Html.Partial("_RoleListPartial", Model.Roles)

<h2>Assign Roles to users in the User Edit Screen:</h2>

@Html.Partial("_UserListPartial", Model.Users)