@model Gira.Models.RoleListViewModel

@{
    ViewBag.Title = "Manage Roles";
}

<h2>Role Management</h2>

@Html.Partial("_RoleListPartial", Model.Roles)

@Html.Partial("_UserAdminListPartial", Model.Users)

<p style="font-size: 12px;">Note: you can assign roles to users in the User Edit Screen.</p>